<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
							http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
	<bean id="bmw" class="com.jz.core.aop.Bmw"/>
	<bean id="carAdvice" class="com.jz.core.aop.CarAdvice"/>

	<aop:config>
		<aop:aspect id="myAspect" ref="carAdvice">
			<aop:pointcut id="myPointcut" expression="execution(* com.jz.core.aop.Bmw.run())"/>
			<aop:around method="doAround" pointcut-ref="myPointcut"/>
		</aop:aspect>
	</aop:config>
</beans>